examples/buttonpanel-demo-flow.json
[
    {
        "id": "62c0589774be3f36",
        "type": "tab",
        "label": "ButtonPanel Demo (Plain)",
        "disabled": false,
        "info": "Interactive ButtonPanel demo flow without widget size tuning. In/out widgets feed back through one-second delays so pending state is visible."
    },
    {
        "id": "01af7a33e98550de",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "init",
        "func": "const image = imageValue('LOGO');\nconst iframe = iframeValue('STATUS');\n\nreturn [\n    { payload: 'AUTO' },\n    { payload: 'OFF' },\n    { payload: 'MOUNTAIN' },\n    { payload: 35 },\n    { payload: 20 },\n    { payload: 72 },\n    { payload: 'OFF' },\n    { payload: image },\n    { payload: image },\n    { payload: iframe },\n    { payload: 'Ready' },\n    { enabled: false }\n];\n\nfunction imageValue(value) {\n    const images = {\n        LOGO: { title: 'BUTTONPANEL', subtitle: 'image value', color: '#52D017', symbol: '<path d=\"M70 80h32M86 64v32\" stroke=\"#172015\" stroke-width=\"10\" stroke-linecap=\"round\"/>' },\n        ALERT: { title: 'ALERT', subtitle: 'selected image', color: '#f89406', symbol: '<path d=\"M86 54l38 66H48z\" fill=\"#23180a\"/><rect x=\"82\" y=\"74\" width=\"8\" height=\"24\" fill=\"#f89406\"/><circle cx=\"86\" cy=\"108\" r=\"4\" fill=\"#f89406\"/>' }\n    };\n    const item = images[value] || images.LOGO;\n    const svg = [\n        '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"360\" height=\"160\" viewBox=\"0 0 360 160\">',\n        '<rect width=\"360\" height=\"160\" fill=\"#20262b\"/>',\n        '<rect x=\"18\" y=\"18\" width=\"324\" height=\"124\" rx=\"8\" fill=\"#303940\"/>',\n        '<circle cx=\"86\" cy=\"80\" r=\"42\" fill=\"' + item.color + '\"/>',\n        item.symbol,\n        '<text x=\"150\" y=\"72\" fill=\"#f5f5f5\" font-family=\"Arial\" font-size=\"28\" font-weight=\"700\">' + item.title + '</text>',\n        '<text x=\"150\" y=\"106\" fill=\"#bdbdbd\" font-family=\"Arial\" font-size=\"18\">' + item.subtitle + '</text>',\n        '</svg>'\n    ].join('');\n    return 'data:image/svg+xml;charset=utf-8,' + encodeURIComponent(svg);\n}\n\nfunction iframeValue(value) {\n    const panels = {\n        STATUS: { title: 'Iframe', detail: 'value driven panel', color: '#52D017' },\n        METRICS: { title: 'Metrics', detail: 'selected iframe content', color: '#26c6da' }\n    };\n    const panel = panels[value] || panels.STATUS;\n    const html = [\n        '<!doctype html><html><head><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>html,body{margin:0;min-height:100%;background:#32383e;color:#f5f5f5;font:16px Arial;}body{box-sizing:border-box;display:flex;align-items:center;justify-content:center;padding:12px;text-align:center;}</style></head><body>',\n        '<div><strong style=\"color:' + panel.color + '\">' + panel.title + '</strong><br><span style=\"color:#bdbdbd\">' + panel.detail + '</span></div>',\n        '</body></html>'\n    ].join('');\n    return 'data:text/html;charset=utf-8,' + encodeURIComponent(html);\n}",
        "outputs": 12,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "f71b7ea745c7b5ed"
            ],
            [
                "03068f64c52ddad8",
                "1dfd0ec5b08fb609",
                "b31721ea3ef5e2cd"
            ],
            [
                "e576067f9a2c6ef7"
            ],
            [
                "c3076047ef12ca03"
            ],
            [
                "01b5eed6538cb59d"
            ],
            [
                "39050c5138c1c394"
            ],
            [
                "35d3d7a80a999747"
            ],
            [
                "ecee06ef3f1d8caa"
            ],
            [
                "606b1137d69e198f"
            ],
            [
                "608a163e3fed7114"
            ],
            [
                "e8a0d2d34857d23b"
            ],
            [
                "d8f396ebf2eefa15"
            ]
        ]
    },
    {
        "id": "f71b7ea745c7b5ed",
        "type": "ui-buttonpanel-text",
        "z": "62c0589774be3f36",
        "name": "Editable text",
        "group": "demo-dashboard-group-controls",
        "order": 3,
        "width": 2,
        "config": "label: Text (editable)\ntext: \nicon: keyboard\ncolor: \"#f6f26b\"\ninput_timeout: 10",
        "widgetType": "text",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 810,
        "y": 480,
        "wires": [
            [
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "e8a0d2d34857d23b",
        "type": "ui-buttonpanel-text",
        "z": "62c0589774be3f36",
        "name": "Event text",
        "group": "demo-dashboard-group-controls",
        "order": 15,
        "width": 6,
        "config": "label: Text (r/o)\ntext: Waiting\nicon: event_note\ncolor: \"#ffffff\"",
        "widgetType": "text",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 0,
        "readOnly": true,
        "x": 1420,
        "y": 500,
        "wires": []
    },
    {
        "id": "d8cf9197b30b7599",
        "type": "ui-buttonpanel-button",
        "z": "62c0589774be3f36",
        "name": "Play button",
        "group": "demo-dashboard-group-controls",
        "order": 4,
        "width": 2,
        "config": "label: Button\ntext: Play\nvalue: PLAY\ntopic: demo/button\nicon: play_arrow\ncolor: \"#52D017\"\nconfirm: Run command?\ninput_timeout: 10",
        "widgetType": "button",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "x": 810,
        "y": 540,
        "wires": [
            [
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "03068f64c52ddad8",
        "type": "ui-buttonpanel-switch",
        "z": "62c0589774be3f36",
        "name": "Switch",
        "group": "demo-dashboard-group-controls",
        "order": 5,
        "width": 2,
        "config": "label: Switch\ntopic: demo/switch\ninput_timeout: 10\nvalues:\n  - value: OFF\n    text: Off\n    icon: toggle_off\n    color: \"#7f8790\"\n  - value: ON\n    text: On\n    icon: toggle_on\n    color: \"#52D017\"\n    confirm: Turn this on?\n    confirm_pin: 4",
        "widgetType": "switch",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 830,
        "y": 600,
        "wires": [
            [
                "886135385148e539",
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "886135385148e539",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 600,
        "wires": [
            [
                "03068f64c52ddad8"
            ]
        ]
    },
    {
        "id": "e576067f9a2c6ef7",
        "type": "ui-buttonpanel-select",
        "z": "62c0589774be3f36",
        "name": "Select",
        "group": "demo-dashboard-group-controls",
        "order": 8,
        "width": 3,
        "config": "label: Select\ntopic: demo/select\ninput_timeout: 10\nvalues:\n  - value: MOUNTAIN\n    text: Mountain\n    icon: landscape\n    color: \"#bdbdbd\"\n  - value: COAST\n    text: Coast\n    icon: waves\n    color: \"#26c6da\"\n  - value: CITY\n    text: City\n    icon: location_city\n    color: \"#f0b44c\"",
        "widgetType": "select",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 830,
        "y": 660,
        "wires": [
            [
                "bca06e2ae6478656",
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "bca06e2ae6478656",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "e576067f9a2c6ef7"
            ]
        ]
    },
    {
        "id": "1d7ded44c1434acb",
        "type": "ui-buttonpanel-select",
        "z": "62c0589774be3f36",
        "name": "Scene",
        "group": "demo-dashboard-group-controls",
        "order": 9,
        "width": 3,
        "config": "label: Select (read-only)\ntext: Scene\ntopic: demo/scene\nicon: radio_button_checked\ncolor: \"#26c6da\"\ninput_timeout: 10\nvalues:\n  - value: MOUNTAIN\n    text: Mountain\n    icon: landscape\n    color: \"#bdbdbd\"\n  - value: COAST\n    text: Coast\n    icon: waves\n    color: \"#26c6da\"\n  - value: CITY\n    text: City\n    icon: location_city\n    color: \"#f0b44c\"",
        "widgetType": "select",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 830,
        "y": 740,
        "wires": [
            [
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "c3076047ef12ca03",
        "type": "ui-buttonpanel-fader",
        "z": "62c0589774be3f36",
        "name": "Fader",
        "group": "demo-dashboard-group-controls",
        "order": 11,
        "width": 2,
        "config": "label: Fader ->\ntext: Level\ntopic: demo/fader\nicon: tune\ncolor: \"#62a8ea\"\nmin: 0\nmax: 100\nlive: false\ninput_timeout: 10\nvalue_as: s2DHHMMSS\nranges:\n  - range: [0, 40]\n    text: Low\n    icon: battery_1_bar\n    color: \"#91c900\"\n  - range: [41, 75]\n    text: Good\n    icon: battery_4_bar\n    color: \"#00c000\"\n  - range: [76, 100]\n    text: High\n    icon: warning\n    color: \"#f89406\"",
        "widgetType": "fader",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "showMeter": true,
        "x": 830,
        "y": 800,
        "wires": [
            [
                "20448aa0c125c9bb",
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "20448aa0c125c9bb",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 800,
        "wires": [
            [
                "c3076047ef12ca03",
                "39050c5138c1c394"
            ]
        ]
    },
    {
        "id": "01b5eed6538cb59d",
        "type": "ui-buttonpanel-fader",
        "z": "62c0589774be3f36",
        "name": "Live fader",
        "group": "demo-dashboard-group-controls",
        "order": 12,
        "width": 2,
        "config": "label: Fader (live) ->\ntext: Live\ntopic: demo/live\nicon: speed\ncolor: \"#62a8ea\"\nmin: 0\nmax: 100\nlive: true\ninput_timeout: 10\nranges:\n  - range: [0, 40]\n    text: Low\n    icon: vertical_align_bottom\n    color: \"#91c900\"\n  - range: [41, 75]\n    text: Mid\n    icon: vertical_align_center\n    color: \"#00c000\"\n  - range: [76, 100]\n    text: High\n    icon: vertical_align_top\n    color: \"#f89406\"",
        "widgetType": "fader",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "showMeter": true,
        "x": 820,
        "y": 860,
        "wires": [
            [
                "d7702ec490889eea",
                "033982503286a1bc",
                "74f592f5673339c9",
                "39050c5138c1c394"
            ]
        ]
    },
    {
        "id": "d7702ec490889eea",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 860,
        "wires": [
            [
                "01b5eed6538cb59d"
            ]
        ]
    },
    {
        "id": "39050c5138c1c394",
        "type": "ui-buttonpanel-fader",
        "z": "62c0589774be3f36",
        "name": "Gauge",
        "group": "demo-dashboard-group-display",
        "order": 2,
        "width": 3,
        "config": "label: Fader (r/o)\ntext: Gauge\nmin: 0\nmax: 100\nvalue_as: s2DHHMMSS\nranges:\n  - range: [0, 40]\n    text: Low\n    icon: battery_1_bar\n    color: \"#91c900\"\n  - range: [41, 75]\n    text: Good\n    icon: battery_4_bar\n    color: \"#00c000\"\n  - range: [76, 100]\n    text: High\n    icon: warning\n    color: \"#f89406\"",
        "widgetType": "fader",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 0,
        "readOnly": true,
        "showMeter": true,
        "x": 1410,
        "y": 560,
        "wires": []
    },
    {
        "id": "ecee06ef3f1d8caa",
        "type": "ui-buttonpanel-image",
        "z": "62c0589774be3f36",
        "name": "Image",
        "group": "demo-dashboard-group-display",
        "order": 3,
        "width": 3,
        "height": 3,
        "config": "label: Image (r/o)\noverflow: hidden",
        "widgetType": "image",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 0,
        "readOnly": true,
        "x": 1410,
        "y": 680,
        "wires": []
    },
    {
        "id": "606b1137d69e198f",
        "type": "ui-buttonpanel-image",
        "z": "62c0589774be3f36",
        "name": "Image button",
        "group": "demo-dashboard-group-display",
        "order": 4,
        "width": 3,
        "height": 3,
        "config": "label: Image (button)\noverflow: hidden\nvalue: IMAGE\ntopic: demo/image\nconfirm: Send image command?\ninput_timeout: 10",
        "widgetType": "image",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 1430,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "608a163e3fed7114",
        "type": "ui-buttonpanel-iframe",
        "z": "62c0589774be3f36",
        "name": "Iframe",
        "group": "demo-dashboard-group-display",
        "order": 5,
        "height": 3,
        "config": "label: Iframe\nattributes:\n  loading: lazy\n  referrerpolicy: no-referrer\n  scrolling: auto\n  overflow: auto",
        "widgetType": "iframe",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 0,
        "x": 1410,
        "y": 800,
        "wires": []
    },
    {
        "id": "033982503286a1bc",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "format output",
        "func": "const label = msg.topic || 'output';\nmsg.payload = `${label}: ${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "b858a457929dc00f"
            ]
        ]
    },
    {
        "id": "b858a457929dc00f",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1220,
        "y": 500,
        "wires": [
            [
                "e8a0d2d34857d23b"
            ]
        ]
    },
    {
        "id": "74f592f5673339c9",
        "type": "debug",
        "z": "62c0589774be3f36",
        "name": "widget output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 300,
        "wires": []
    },
    {
        "id": "965fe5aed2deaf6f",
        "type": "ui-buttonpanel-select",
        "z": "62c0589774be3f36",
        "name": "Lamp",
        "group": "demo-dashboard-group-controls",
        "order": 10,
        "width": 2,
        "config": "label: Select (button) ->\ntext: Lamp\ntopic: demo/lamp\nicon: emoji_objects\ncolor: \"#ffd84d\"\nvalues:\n  - value: ON\n    text: ON\n    icon: emoji_objects\n    color: \"#ffd84d\"\n  - value: OFF\n    text: OFF\n    icon: emoji_objects\n    color: \"#7f8790\"",
        "widgetType": "select",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 790,
        "y": 920,
        "wires": [
            [
                "11c62daf9d3c863a",
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "11c62daf9d3c863a",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 920,
        "wires": [
            [
                "35d3d7a80a999747"
            ]
        ]
    },
    {
        "id": "bf4ac948ad1de80f",
        "type": "ui-buttonpanel-select",
        "z": "62c0589774be3f36",
        "name": "Image source button",
        "group": "demo-dashboard-group-controls",
        "order": 13,
        "width": 3,
        "config": "label: Select (button) -> \ntext: Image\ntopic: demo/image-source\nicon: image\ncolor: \"#52D017\"\nvalues:\n  - value: LOGO\n    text: Logo\n    icon: dashboard\n    color: \"#52D017\"\n  - value: ALERT\n    text: Alert\n    icon: warning\n    color: \"#f89406\"",
        "widgetType": "select",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 780,
        "y": 980,
        "wires": [
            [
                "ed35e6d68e9567d9",
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "ed35e6d68e9567d9",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "build image value",
        "func": "function imageValue (value) {\n  const images = {\n    LOGO: { title: 'BUTTONPANEL', subtitle: 'image value', color: '#52D017', symbol: '<path d=\"M70 80h32M86 64v32\" stroke=\"#172015\" stroke-width=\"10\" stroke-linecap=\"round\"/>' },\n    ALERT: { title: 'ALERT', subtitle: 'selected image', color: '#f89406', symbol: '<path d=\"M86 54l38 66H48z\" fill=\"#23180a\"/><rect x=\"82\" y=\"74\" width=\"8\" height=\"24\" fill=\"#f89406\"/><circle cx=\"86\" cy=\"108\" r=\"4\" fill=\"#f89406\"/>' }\n  };\n  const item = images[value] || images.LOGO;\n  const svg = [\n    '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"360\" height=\"160\" viewBox=\"0 0 360 160\">',\n    '<rect width=\"360\" height=\"160\" fill=\"#20262b\"/>',\n    '<rect x=\"18\" y=\"18\" width=\"324\" height=\"124\" rx=\"8\" fill=\"#303940\"/>',\n    '<circle cx=\"86\" cy=\"80\" r=\"42\" fill=\"' + item.color + '\"/>',\n    item.symbol,\n    '<text x=\"150\" y=\"72\" fill=\"#f5f5f5\" font-family=\"Arial\" font-size=\"28\" font-weight=\"700\">' + item.title + '</text>',\n    '<text x=\"150\" y=\"106\" fill=\"#bdbdbd\" font-family=\"Arial\" font-size=\"18\">' + item.subtitle + '</text>',\n    '</svg>'\n  ].join('');\n  return 'data:image/svg+xml;charset=utf-8,' + encodeURIComponent(svg);\n}\n\nmsg.payload = imageValue(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 980,
        "wires": [
            [
                "b2ca4f39042714ef"
            ]
        ]
    },
    {
        "id": "b2ca4f39042714ef",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 980,
        "wires": [
            [
                "ecee06ef3f1d8caa"
            ]
        ]
    },
    {
        "id": "5448126e536a31b5",
        "type": "ui-buttonpanel-select",
        "z": "62c0589774be3f36",
        "name": "Iframe source button",
        "group": "demo-dashboard-group-controls",
        "order": 14,
        "width": 3,
        "config": "label: Select (button) -> \ntext: Iframe\ntopic: demo/iframe-source\nicon: web_asset\ncolor: \"#26c6da\"\nvalues:\n  - value: STATUS\n    text: Status\n    icon: monitor_heart\n    color: \"#52D017\"\n  - value: METRICS\n    text: Metrics\n    icon: query_stats\n    color: \"#26c6da\"",
        "widgetType": "select",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 780,
        "y": 1040,
        "wires": [
            [
                "c5442eaef511ebe0",
                "033982503286a1bc",
                "74f592f5673339c9"
            ]
        ]
    },
    {
        "id": "c5442eaef511ebe0",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "build iframe value",
        "func": "function iframeValue (value) {\n  const panels = {\n    STATUS: { title: 'Iframe', detail: 'value driven panel', color: '#52D017' },\n    METRICS: { title: 'Metrics', detail: 'selected iframe content', color: '#26c6da' }\n  };\n  const panel = panels[value] || panels.STATUS;\n  const html = [\n    '<!doctype html><html><head><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>html,body{margin:0;min-height:100%;background:#32383e;color:#f5f5f5;font:16px Arial;}body{box-sizing:border-box;display:flex;align-items:center;justify-content:center;padding:12px;text-align:center;}</style></head><body>',\n    '<div><strong style=\"color:' + panel.color + '\">' + panel.title + '</strong><br><span style=\"color:#bdbdbd\">' + panel.detail + '</span></div>',\n    '</body></html>'\n  ].join('');\n  return 'data:text/html;charset=utf-8,' + encodeURIComponent(html);\n}\n\nmsg.payload = iframeValue(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1040,
        "wires": [
            [
                "6c727b159d6024bc"
            ]
        ]
    },
    {
        "id": "6c727b159d6024bc",
        "type": "delay",
        "z": "62c0589774be3f36",
        "name": "1s delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 1040,
        "wires": [
            [
                "608a163e3fed7114"
            ]
        ]
    },
    {
        "id": "e9b9e1f771ac3ff4",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "+",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 740,
        "wires": [
            [
                "01b5eed6538cb59d",
                "c3076047ef12ca03",
                "03068f64c52ddad8",
                "e576067f9a2c6ef7",
                "1d7ded44c1434acb",
                "965fe5aed2deaf6f",
                "f71b7ea745c7b5ed",
                "d8cf9197b30b7599",
                "bf4ac948ad1de80f",
                "5448126e536a31b5",
                "e8a0d2d34857d23b",
                "608a163e3fed7114",
                "606b1137d69e198f",
                "ecee06ef3f1d8caa",
                "35d3d7a80a999747",
                "39050c5138c1c394",
                "1dfd0ec5b08fb609",
                "b31721ea3ef5e2cd"
            ]
        ]
    },
    {
        "id": "d8f396ebf2eefa15",
        "type": "ui-buttonpanel-button",
        "z": "62c0589774be3f36",
        "name": "Enable",
        "group": "demo-dashboard-group-controls",
        "order": 1,
        "width": 1,
        "config": "label: Button\ntext: En\nvalue: ENABLE\nicon: play_circle\n\n",
        "widgetType": "button",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "f997ba222d71ec2e"
            ]
        ]
    },
    {
        "id": "de8f342a9556fc6e",
        "type": "ui-buttonpanel-button",
        "z": "62c0589774be3f36",
        "name": "Disable",
        "group": "demo-dashboard-group-controls",
        "order": 2,
        "width": 1,
        "config": "label: Button\ntext: Dis\nvalue: DISABLE\nicon: stop\n\n",
        "widgetType": "button",
        "waitForInput": false,
        "inputs": 1,
        "outputs": 1,
        "x": 320,
        "y": 780,
        "wires": [
            [
                "10fd8c217c74a69f"
            ]
        ]
    },
    {
        "id": "35d3d7a80a999747",
        "type": "ui-buttonpanel-switch",
        "z": "62c0589774be3f36",
        "name": "Lamp",
        "group": "demo-dashboard-group-display",
        "order": 1,
        "width": 3,
        "config": "label: Switch (r/o)\ninput_timeout: 0\nvalues:\n  - value: OFF\n    text: Off\n    icon: toggle_off\n    color: \"#7f8790\"\n  - value: ON\n    text: On\n    icon: toggle_on\n    color: \"#52D017\"\n    confirm: Turn this on?\n    confirm_pin: 4",
        "widgetType": "switch",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 0,
        "readOnly": true,
        "x": 1410,
        "y": 620,
        "wires": []
    },
    {
        "id": "10fd8c217c74a69f",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "DIS",
        "func": "return {enabled: false};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 780,
        "wires": [
            [
                "e9b9e1f771ac3ff4",
                "de8f342a9556fc6e",
                "ef78ae54c9b9a20a"
            ]
        ]
    },
    {
        "id": "f997ba222d71ec2e",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "EN",
        "func": "return {enabled: true};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 680,
        "wires": [
            [
                "e9b9e1f771ac3ff4",
                "ef78ae54c9b9a20a",
                "de8f342a9556fc6e"
            ]
        ]
    },
    {
        "id": "ef78ae54c9b9a20a",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "^",
        "func": "return {enabled: !msg.enabled};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 680,
        "wires": [
            [
                "d8f396ebf2eefa15"
            ]
        ]
    },
    {
        "id": "8f6ab6410759bc58",
        "type": "function",
        "z": "62c0589774be3f36",
        "name": "On Start",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "node.send({});",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "01af7a33e98550de"
            ]
        ]
    },
    {
        "id": "1dfd0ec5b08fb609",
        "type": "ui-buttonpanel-switch",
        "z": "62c0589774be3f36",
        "name": "Switch Fast Loopback",
        "group": "demo-dashboard-group-controls",
        "order": 6,
        "width": 2,
        "config": "label: Switch (fast loop back)\ntopic: demo/switch2\ninput_timeout: 10\nvalues:\n  - value: OFF\n    text: Off\n    icon: toggle_off\n    color: \"#7f8790\"\n  - value: ON\n    text: On\n    icon: toggle_on\n    color: \"#52D017\"\n",
        "widgetType": "switch",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 860,
        "y": 1100,
        "wires": [
            [
                "14037a55e321a526",
                "033982503286a1bc"
            ]
        ]
    },
    {
        "id": "14037a55e321a526",
        "type": "rbe",
        "z": "62c0589774be3f36",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1070,
        "y": 1100,
        "wires": [
            [
                "1dfd0ec5b08fb609"
            ]
        ]
    },
    {
        "id": "b31721ea3ef5e2cd",
        "type": "ui-buttonpanel-switch",
        "z": "62c0589774be3f36",
        "name": "Switch No Input",
        "group": "demo-dashboard-group-controls",
        "order": 7,
        "width": 2,
        "config": "label: Switch (no input)\ntopic: demo/switch3\ninput_timeout: 10\nvalues:\n  - value: OFF\n    text: Off\n    icon: toggle_off\n    color: \"#7f8790\"\n  - value: ON\n    text: On\n    icon: toggle_on\n    color: \"#52D017\"\n",
        "widgetType": "switch",
        "waitForInput": true,
        "inputs": 1,
        "outputs": 1,
        "readOnly": false,
        "x": 840,
        "y": 1160,
        "wires": [
            [
                "033982503286a1bc"
            ]
        ]
    },
    {
        "id": "demo-dashboard-group-controls",
        "type": "ui-group",
        "name": "Controls",
        "page": "demo-dashboard-page",
        "width": 6,
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "demo-dashboard-group-display",
        "type": "ui-group",
        "name": "Displays",
        "page": "demo-dashboard-page",
        "width": 6,
        "height": "8",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "demo-dashboard-page",
        "type": "ui-page",
        "name": "ButtonPanel",
        "ui": "demo-dashboard-base",
        "path": "/buttonpanel",
        "icon": "dashboard",
        "layout": "grid",
        "theme": "demo-dashboard-theme",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "demo-dashboard-base",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "demo-dashboard-theme",
        "type": "ui-theme",
        "name": "buttonpanel: Dark",
        "colors": {
            "surface": "#272b30",
            "primary": "#3a3f44",
            "bgPage": "#1f2124",
            "groupBg": "#272b30",
            "groupOutline": "#272b30"
        },
        "sizes": {
            "density": "compact",
            "pagePadding": "2px",
            "groupGap": "4px",
            "groupBorderRadius": "4px",
            "widgetGap": "4px"
        }
    },
    {
        "id": "0456abd145daf6f2",
        "type": "global-config",
        "env": [],
        "modules": {
            "@sourcesimian/node-red-dashboard-2-buttonpanel": "0.1.3",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]